:root {
    background-color: #43598c;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#title-header{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    position:relative;
    top: 20px;
    animation-duration: 3s;
  }

.questionDisplay {
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #fce3c2;
    border-radius: 100px;
    width: 900px; height: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#current-question {
    position: absolute;
    top: 25%;
    width: 100%;
}

#btn-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border-color: #169873;
    border-style: solid;
    border-width: 25px;
    width: 280px;
    background-color: #169873;
    transform: rotate(8deg);
    position: relative;
    top: 75px;
    right: 200px;
}

#btn-1:hover {
    cursor: pointer;
    animation: pulse;
    animation-duration: 1.5s;
}

#btn-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border-color: white;
    border-style: solid;
    border-width: 25px;
    width: 280px;
    background-color: white;
    transform: rotate(-7deg);
    position: relative;
    top: 250px;
    right: 475px;
}
#btn-2:hover{
    cursor: pointer;
    animation: pulse;
    animation-duration: 1.5s;
}


#btn-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border-color: #c83e4d;
    border-style: solid;
    border-width: 25px;
    width: 280px;
    background-color: #c83e4d;
    transform: rotate(-4deg);
    position: relative;
    top: 75px;
    left: 175px;
}

#btn-3:hover{
    cursor: pointer;
    animation: pulse;
    animation-duration: 1.5s;
}

#btn-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border-color: #f24c00;
    border-style: solid;
    border-width: 25px;
    width: 280px;
    background-color: #f24c00;
    transform: rotate(9deg);
    position: relative;
    top: 200px;
    left: 450px;
}

#btn-4:hover{
    cursor: pointer;
    animation: pulse;
    animation-duration: 1.5s;
}

.alertDisplay {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffce8e;
    font-size: 19px;
    border-radius: 50px;
    width: 450px; height: 150px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    top: 50px;
}

#alert-text {
    position: absolute;
    top: 35%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

/* Mobile View */

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
   }

   #title-header{
    position:relative;
    top: 5px;
    font-size: 20px;
  }

    .questionDisplay {
        border-radius: 100px;
        width: 700px; height: 350px;
        margin: 50px auto;
        text-align: center;
        position: relative;
        bottom: 30px;
    }   
    
    #btn-1 {
        border-width: 25px;
        width: 450px;
        transform: rotate(0deg);
        position: relative;
        top: 375px;
        right: 115px;
        text-align: left;
        font-size: 15px;
    }

    #btn-2 {
        border-width: 25px;
        width: 450px;
        transform: rotate(0deg);
        position: relative;
        top: 387px;
        right: 115px;
        text-align: left;
        font-size: 15px;
     }
    
     #btn-3 {
        border-width: 25px;
        width: 450px;
        transform: rotate(0deg);
        position: relative;
        top: 399px;
        left: -115px;
        text-align: left;
        font-size: 15px;
    }

    #btn-4 {
        border-width: 25px;
        width: 450px;
        transform: rotate(0deg);
        position: relative;
        top: 411px;
        left: -115px;
        text-align: left;
        font-size: 15px;
    }

    .alertDisplay {
        width: 375px; height: 100px;
        text-align: center;
        position: relative;
        top: 285px;
        left: 162px;
        font-size: 15px;
    }

}
    
